* {
    font-family: 'Poppins', sans-serif; 
}

body {
    margin:0 auto;
    max-width: 1280px;
}

h1{
    color:peru;
    /* font-size: 5.653rem; */
    font-size: 5rem;
}

h2{
    font-size: 3.998rem;
}

h3 {
    
    font-size: 2.827rem
}

h4 {
    
    font-size: 1.999rem;
    
}

h5{
    font-size: 1.414rem;
}

h6{
    font-size: 1rem;

}

.general-container {
    display: flex; /* or inline-flex */
    
  }

header {
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    content:none;
}

a:link, a:visited{
    /* background-color:darkblue; */
    text-decoration: none;
    color: #F9D1D1;
    padding: 10px;
}

a:hover{
    /* background-color: darkcyan; */
    text-decoration: underline 2px darkgoldenrod;
}

a:active{
    background-color: orange;
}

a.icon:link, a.icon:visited {
    background-color: #F9D1D1;
    color:ghostwhite;
    border-radius: 50%;

}

#hero{
    justify-content: space-between;
    height: 400px;
    padding: 0px 20px 0px 20px;
}

a.icon:hover {
    background-color: #F9D1D1;
    color:ghostwhite;
    border-radius: 50%;
}

.subscribe{
    
    background-color: #F9D1D1;
    border-radius: 10%;
    padding: 10px 20px 10px 20px;
    max-height: 325px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.logo{
    color:#F9D1D1;
}

.button{
    background-color: rgb(192, 253, 251);
    color:black;
    border-radius: 50px;
    border-width: 0.5px;
    padding: 5px 10px 5px 10px;
}
.info{
    margin-right: 30px;
    max-width: 50%;
}


.carrusel-active{
    width:28px;
    height: 28px;
    border-radius: 50%;
    background-color: #F9D1D1;
}
.carrusel-desactive{
    width:28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(192, 253, 251);
}

#carrusel{
    margin-top: 25px;
}


.image{
    height: 300px;
}

input{
    background: #FFFFFF;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.459);
    height: 150%;
    
}

.number-card{
    font-size: 20rem;
    
    font-family:Playball;
    margin: 0px 25px 0px 25px;
    color:#F9D1D1;
}

.card{
    display: flex; /* or inline-flex */
    /* justify-content: center; */
    align-items: center;
}

.text-description{
    width: 40%;
}

#card2{
    justify-content: flex-end;
}

.columns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#name, #second-name, #email{
    margin-bottom: 10px;

}
.container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    margin: 30px 0px 0px 0px;
    padding: 20px;
    background-color: #754668;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}


/* TABLET */
@media only screen and (min-width:600px) and (max-width:767px){
    

}


/* ---------------------------------------------------- */
/* DESKTOP */
@media only screen and (min-width: 768px) {
   
}

/* --------------------- */
/* MOBILE */
@media only screen and (max-width: 600px) {
    #hero{
        flex-direction: column;
    }
}